.reset-password-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 93%;
  padding: 10px;
  margin: 5px 0;
}

.error {
  color: red;
  font-size: 12px;
}

.btn {
  width: 100%;
}

input {
  max-width: 350px;
}
